<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/form.css">
    <title>Loan Approval Prediction</title>
</head>
<body>
    <div class = "container">
        <h1>Loan Approval Prediction</h1>
        <h4>Fill in the details to predict if your loan will be approved!</h4>
        <br>
        <br>
        <form action="/predict" method="POST">
            <div class="form-group">
                <label for="gender">Gender</label>
                <select id="gender" name="gender" class="form-control" required>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
            <label for="married">Married?</label>
                <select id="married" name="married" class="form-control" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dependents">Number of Dependents</label>
                <input type="number" id="dependents" name="dependents" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="education">Education</label>
                <select id="education" name="education" class="form-control" required>
                    <option value="Graduate">Graduate</option>
                    <option value="Not Graduate">Not Graduate</option>
                </select>
            </div>
            <div class="form-group">
                <label for="self_employed">Self-Employed?</label>
                <select id="self_employed" name="self_employed" class="form-control" required>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="form-group">
                <label for="applicant_income">Applicant Income:</label>
                <input type="number" id="applicant_income" name="applicant_income" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="coapplicant_income">Co-Applicant Income:</label>
                <input type="number" id="coapplicant_income" name="coapplicant_income" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="loan_amount">Loan Amount</label>
                <input type="number" id="loan_amount" name="loan_amount" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="loan_amount_term">Loan Amount Term (in days)</label>
                <input type="number" id="loan_amount_term" name="loan_amount_term" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="credit_history">What is your credit history?</label>
                <select id="credit_history" name="credit_history" class="form-control" required>
                    <option value="Bad Credit">Bad/No Credit</option>
                    <option value="Good Credit">Good Credit</option>
                </select>
            </div>
            <div class="form-group">
                <label for="property_area">Property Area</label>
                <select id="property_area" name="property_area" class="form-control" required>
                    <option value="Rural">Rural</option>
                    <option value="Semi-urban">Semiurban</option>
                    <option value="Urban">Urban</option>
                </select>
            </div>
            <button type="submit" class="btn">PREDICT</button>
        </form>
    </div>
    <footer>
        <p><b>Made with ❤️ by CSI-VIT</b></p>
    </footer>
    <br>
</body>
</html>